PORT=5000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_or_service_role_key
JWT_SECRET=super_secret_jwt_key_gov_schemes_2026_secure
GEMINI_API_KEY= your_gemini_api_key_here
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
